// TODO: improve font type
@font-face {
	font-family: 'Circular';
	src: url('./CircularStd-Medium.eot');
	src: url('./CircularStd-Medium.woff') format('woff'),
    url('./CircularStd-Medium.ttf') format('truetype'),
    url('./CircularStd-Medium.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Circular';
	src: url('./CircularStd-Book.eot');
	src: url('./CircularStd-Book.woff') format('woff'),
    url('./CircularStd-Book.ttf') format('truetype'),
    url('./CircularStd-Book.svg') format('svg');
	font-weight: lighter;
	font-style: normal;
}

@font-face {
	font-family: 'Circular';
	src: url('./CircularStd-Bold.eot');
	src: url('./CircularStd-Bold.woff') format('woff'),
    url('./CircularStd-Bold.ttf') format('truetype'),
    url('./CircularStd-Bold.svg') format('svg');
	font-weight: bold;
	font-style: normal;
}
