@import '../../config';

#share {
  width: 100%;
  overflow: auto;
  background-color: rgba(#000, 0.2);

  > .content {
    @include wrap-mobile;
    @include clearfix;

    @include large-up {
      @include grid(7);
      @include offsetLeft(3);
    }

    padding-top: $space-l;
    padding-bottom: $space-l;

    > h3 {
      margin-bottom: $space-xxs;
    }

    > p {
      margin-bottom: $space-m;
      color: #fff;
      opacity: 0.3;
    }

    button, .SocialMediaShareButton {
      display: inline-block;
      @include button;
    }

  }
}
