@import '../../config';

.categories {

  .button {
    padding-left: $space-m;
    padding-right: $space-m;
    margin-left: $space-xxs;

    border-style: solid;
    border-width: 1px;
    border-color: $light;
    border-radius: 0.25em;

    line-height: 1.5em;

    color: $heavy;

    background-color: transparent;

    cursor: pointer;

    &.selected {
      border: none;
      background-color: $selected;
      color: $inverted;
    }
  }

  .title {
    margin-right: $space-xs;

    font-size: $font-size-deci;
    font-weight: $heavy;

    &.-top {
      display: block;
      margin-bottom: $space-xs;
      margin-left: $space-xxs;
    }
  }
}
