@import '../../config';

.categories {

  .title {
    display: block;
    margin-bottom: $space-l;
  }

  .main {
    margin-bottom: $space-m;

    .button {
      padding-left: $space-s;
      padding-right: $space-s;
      margin-left: $space-xxs;

      border-style: solid;
      border-width: 1px;
      border-color: $light-purple;
      border-radius: 0.5em;

      font-size: $font-size-centi;
      line-height: 1.5em;
      letter-spacing: 0.44px;
      color: $light-purple;
      background-color: transparent;
      cursor: pointer;

      transition: all 0.3s ease;

      &:first-child { margin-left: 0; }

      &:hover { color: #fff; }

      &.selected {
        border-color: transparent;
        background-color: $selected;
        color: #fff;
      }
    }
  }
}
