@import '../../config';

#graph-page {
  @include wrap;
  display: flex;
  flex-direction: column;

  > h3 {
    @include grid(12);
    margin-bottom: $space-xs;
   }

  > .content {
    @include grid(9);
    @include offsetRight(4);
    display: flex;
    align-items: center;

    > p {
      margin-bottom: $space-xl;
    }
  }

  .graph-head {
    display: flex;
    justify-content: space-between;
    align-items: baseline;

    .title {
      @include grid(7);
      display: block;
      margin-bottom: $space-l;
    }

     > .legend {
      > span {
        font-size: $font-size-centi;
        color: $light-purple;
        display: flex;
        align-items: center;

        &:before {
          content: '';
          display: inline-block;
          margin-right: $space-xxs;
          height: 18px;
          width: 18px;
          border-radius: 50%;
          background-color: $selected;
          text-align: center;
          color: #fff;
        }
      }
    }
  }
}