@import "../../ambience";
@import "../../flama-grid-overrided";

#home {
  height: 100vh;
  width: 100vw;

  background-image: url('./home.png');
  background-size: cover;
  background-position: center;

  color: white;

  display: flex;
  flex-direction: column;

  .header {
    @include grid(10);
    @include offset(left, 2);

    padding-top: $ultra-large;

    text-transform: uppercase;
    font-weight: $weight-medium;
    font-size: $lesser;

    > .left {
      @include grid(3);
      @include offset(right, 3);
    }

    > .right {
      @include grid(2);
      text-align: right;
    }

    > * {
      transition: all 0.3s ease;
    }

    > *:hover {
      color: gold; // TODO: change to an actual color
    }
  }

  .body {
    flex: 1;

    @include grid(10);
    @include offset(left, 2);

    display: flex;
    flex-direction: column;
    justify-content: center;

    > h1 {
      font-size: $gigantic;
      font-weight: bold;
      margin: 0;
    }

    > p {
      @include grid(8);

      font-size: $normal;
      font-weight: lighter;
      line-height: $greater;
      opacity: 0.7;
    }
  }

  img.arrow-down {
    margin-bottom: $large;
    cursor: pointer;
  }
}
