@import '../../config';

#home {
  height: 100%;
  width: 100vw;
  background-image: url('./home.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  overflow: auto;

  .body {
    @include grid(8);
    @include offsetLeft(2);
    margin-bottom: 360px;

    > h1 {
      margin-top: $space-xxxl;
      color: #fff;
    }

    > p {
      font-size: $font-size-hecto;
      line-height: $line-height-hecto;
      font-weight: lighter;
      color: #fff;
    }

    @include small-only {
      @include grid(4);

      > h1 {
        margin-top: $space-xl;
        font-size: $font-size-mega;
        line-height: $line-height-mega;
      }

      > p {
        margin-top: $space-m;
        font-size: $font-size-deca;
        line-height: $line-height-deca;
      }
    }
  }

}
