@import '../../config';

#home {

  height: 100vh;
  width: 100vw;

  .body {
    @include wrap;

    > h1 {
      font-size: $font-size-kilo;
      line-height: $line-height-kilo;
      font-weight: $heavy;
      margin-top: $space-xxxl;
      color: #fff;
    }

    > p {
      font-size: $font-size-deca;
      line-height: $line-height-deca;
      font-weight: $regular;
      color: #fff;
    }
  }
}
