@import '../../config';

#navbar {
  @include wrap-mobile;

  > .left, > .right { padding: $space-xxxs; }
  > .right { margin-left: $space-xxs; }

  @include medium-only {
    @include grid(6);
    @include offsetLeft(1);
  }

  @include large-up {
    @include grid(10);
    @include offsetLeft(1);
    @include offsetRight(2);
  }

  height: 15vh;

  > .left, > .right {
    margin-top: $space-s;

    @include medium-up {
      margin-top: $space-xl;
    }
    padding: $space-xxs;
    font-size: $font-size-centi;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: $light-purple;
  }

  > .left {
    display: block;
    float: left;
  }

  > .right {
    display: block;
    float: right;
    margin-left: $space-xs;
  }

  > * { transition: all 0.3s ease; }

  > *:hover { color: #fff; }
}
