@import '../../config';

#navbar {
  @include wrap-mobile;
  padding-top: $space-l;

  > .left, > .right { padding: $space-xxxs; }
  > .right { margin-left: $space-xxs; }

  @include medium-only {
    @include wrap-mobile;
  }

  @include large-up {
    @include grid(10);
    @include offsetLeft(1);
  }

  height: 15vh;

  > .left, > .right {
    padding: $space-xxs;
    font-size: $font-size-centi;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: $light-purple;
  }

  > .left, > .right > .nav-items > a {
    padding: $space-xxs;
    display: inline-block;
    transition: all 0.3s ease;

    &:hover { color: #fff; }
  }

  > .left {
    display: block;
    float: left;
  }

  > .right {
    display: block;
    float: right;
    position: relative;

    > .nav-items > a {
      margin-left: $space-xs;
    }

    @include small-only {
      > .nav-items {
        max-height: 0;
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        opacity: 0;
        transition: all 0.3s ease;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 888;
        background-color: rgba(#000, 0.7);

        > a {
          margin-bottom: $space-l;
          font-size: $font-size-kilo;
          color: #fff;
          text-transform: lowercase;
          margin-left: 0;

          &:hover {
            color: rgba(#fff, 0.8);
          }
        }
      }
      > .nav-burger { display: block; }
    }

    @include medium-up {
      > .nav-items {
        display: inline-block;
        > a { opacity: 1; }
      }
      > .nav-burger { display: none; }
    }

    > .nav-burger {
      width: 3rem;
      height: 3rem;
      cursor: pointer;
      position: relative;
      top: -$space-s;

      &:hover { color: #fff; }

      &:before,
      &:after {
        content: '';
        width: 20px;
        height: 2px;

        background-color: currentColor;

        display: block;
        position: absolute;

        transition: all 0.3s ease;
      }

      &:before {
        top: 17px;
        left: 13px;
        box-shadow: 0 12px 0 0 currentColor;
      }

      &:after {
        top: 23px;
        left: 13px;
      }

      &.-open {
        position: fixed;
        top: $space-m;
        right: $space-m;
        z-index: 999;

        + .nav-items {
          opacity: 1;
          max-height: 100vh;
        }

        &:before,
        &:after {
          top: 23px;
          left: 11px;
          width: 24px;
        }

        &:before {
          transform: rotate(45deg);
          box-shadow: 0 0 0 0 transparent;
        }

        &:after {
          transform: rotate(-45deg);
        }
      }

    }

  }

  > * { transition: all 0.3s ease; }

  @include small-only {
    @include wrap-mobile;

    > .left, > .right  > .nav-items > a { padding: $space-xxxs; }
    > .right > .right > .nav-items > a { margin-left: $space-xxs; }
  }
}
