$feminist-purple: rgb(119, 74, 215);
$light-purple: rgb(153, 137, 178);

$light: rgb(227, 227, 227);
$heavy: rgb(135, 135, 135);
$selected: rgb(255, 78, 129);

$color-ghost: rgba(#fff, 0.5);

$background-left: rgb(91, 62, 135);
$background-right: rgb(49, 34, 71);

