$feminist-purple: rgb(70, 48, 102);
$light-purple: rgb(153, 137, 178);
$faded-purple: rgb(141, 58, 109);

$selected: rgb(255, 78, 129);

$color-ghost: rgba(#fff, 0.5);

$background-left: rgb(91, 62, 135);
$background-right: rgb(49, 34, 71);
