$font-size-exa: 8.75rem; // 140
$font-size-peta: 6.25rem; // 100
$font-size-tera: 4.063rem; // 65
$font-size-giga: 2.813rem; // 45
$font-size-mega: 2rem; // 32
$font-size-kilo: 1.5rem; // 24
$font-size-hecto: 1.375rem; // 22
$font-size-deca: 1.188rem; // 19
$font-size-base: 1rem; // 16
$font-size-deci: 0.75rem; // 12
$font-size-centi: 0.6875rem; // 11
$font-size-mili: 0.625rem; // 10


$line-height-exa: 8.625rem; // 138
$line-height-peta: 6.25rem; // 100
$line-height-tera: 4.063rem; // 65
$line-height-giga: 2.75rem; // 44
$line-height-mega: 0.5rem; // 8
$line-height-kilo: 2.375rem; // 38
$line-height-hecto: 2rem; // 32
$line-height-deca: 1.813rem; // 29
$line-height-base: 1.625rem; // 26
$line-height-deci:  1.25rem; // 20
$line-height-centi: 1.75rem; // 28
$line-height-mili: 1rem; // 16
