$font-size-tera: 8.75rem; //140
$font-size-giga: 6.125rem; //100
$font-size-mega: 3.5rem; //56
$font-size-kilo: 2rem; //32
$font-size-hecto: 1.5rem; //24
$font-size-deca: 1.125rem; //18
$font-size-base: 1rem; //16
$font-size-deci: 0.875rem; //14
$font-size-centi: 0.75rem; //12


$line-height-tera: 8.625rem; //138
$line-height-giga: 6.125rem; //100
$line-height-mega: 3.5rem; //56
$line-height-kilo: 2.375rem; //38
$line-height-hecto: 2rem; //32
$line-height-deca: 1.625rem; //26
$line-height-base: 1.5rem; //16
$line-height-deci: 1.25rem; //14

$light: 200;
$regular: 400;
$heavy: 700;