@import '../../config';

.select-input {
  select {
    width: $space-xxxl;
    padding-left: $space-xxs;

    border-style: solid;
    border-width: 1px;
    border-color: $light-purple;
    border-radius: $space-xxxs;

    font-size: $font-size-centi;
    line-height: 1.5em;
    letter-spacing: 0.44px;
    color: $light-purple;
    background-color: transparent;
    cursor: pointer;

    transition: all 0.3s ease;

    &:hover { color: #fff; }

    background-image: url('./arrow-down.svg?name=Arrow');
    background-repeat: no-repeat;
    background-position: 95% center;

  }
}