@import '../../config';

#footer {
  width: 100%;

  > .content {
    @include wrap-mobile;
    padding-top: $space-m;
    padding-bottom: $space-m;

    @include medium-up {
      @include grid(2);
      @include offsetLeft(1);
      padding-top: $space-xs;
      padding-bottom: $space-xs;
    }

    > .link {
      font-size: $font-size-centi;
      text-transform: uppercase;
      letter-spacing: 1px;
      color: $light-purple;
      transition: all 0.3s ease;

      &:hover { color: #fff; }
    }
  }
}
