@import '../../config';

#footer {
  width: 100%;

  > .content {
    @include medium-wrap;
    padding-top: $space-xs;
    padding-bottom: $space-xs;

    > .link {
      font-size: $font-size-centi;
      text-transform: uppercase;
      letter-spacing: 1px;
      color: $light-purple;
      transition: all 0.3s ease;

      &:hover { color: #fff; }
    }
  }
}
