@import '../../config';

#footer {
  width: 84vw;
  height: 60px;
  margin: 0 auto;

  @include medium-only {
    width: 100%;
  }

  @include small-only {
    width: 100%;
    height: 120px;
  }

  > .content {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    @include small-only {
      align-items: flex-start;
    }

    @include medium-up {
      flex-direction: row;
      justify-content: space-between;
    }

    @include wrap-mobile;

    > .link {
      font-size: $font-size-centi;
      text-transform: uppercase;
      letter-spacing: 1px;
      color: $light-purple;
      transition: all 0.3s ease;

      &:hover { color: #fff; }

      @include small-only {
        margin-bottom: $space-xs;
      }
    }
  }

  > .content > .actions > span {
    font-size: $font-size-deci;
    text-transform: uppercase;
    color: $light-purple;
    margin-right: $space-xxs;
    letter-spacing: 1px;
  }

  > .content > button, .SocialMediaShareButton {
    display: inline-block;
    @include button;

    @include small-only {
      margin-right: $space-xxs;
    }
  }

}
