@import "../base";
@import '../../config';

$base-time: 0.2s;

.scatter-row {
  display: flex;
  align-items: center;
  flex-grow: 1;

  .title {
    display: inline-block;
    height: 100%;
    width: 12vw;

    padding-right: 1em;
    padding-left: 0.5em;

    margin-bottom: -10vh;

    color: $medium;

    h2 {
      font-size: $font-size-deci;
      line-height: $line-height-deci;
    }
  }

  .graph {
    display: inline-block;
    width: 100%;

    .d3-point {
      fill: $selected;
      cursor: pointer;

      // return-to-normal animation
      transition: all 0.5 * $base-time ease-in-out;

      &:hover {
        // kick-off animation
        transition: all 0.2 * $base-time cubic-bezier(0.44, 0.23, 0.19, 0.98);
      }

      // growing animation
      &.growing {
        transition: all 0.8 * $base-time cubic-bezier(0.44, 0.23, 0.19, 0.98);
      }

      transition-delay: 0.5 * $base-time;

      &.shrinking {
        transition-delay: 0.75 * $base-time;
        transition-duration: 0.5 * $base-time;
        transition-timing-function: ease-in-out;
      }
    }
  }
}
