@import '../../config';

$base-time: 0.2s;

.scatter-row {
  display: flex;
  align-items: center;
  flex-grow: 1;

  .title {
    display: inline-block;
    height: 100%;
    width: 12vw;
    align-self: flex-start;
    margin-top: $space-xs;

    padding-right: 1em;
    padding-left: 0.5em;

    margin-bottom: -10vh;

    h2 {
      font-size: $font-size-deci;
      line-height: $line-height-deci;
      font-weight: normal;
    }
  }

  .graph {
    display: inline-block;
    width: 100%;

    pointer-events: none;

    .d3-point {
      fill: $selected;
      cursor: pointer;
      pointer-events: all;

      // return-to-normal animation
      transition: all 0.5 * $base-time ease-in-out;

      &:hover {
        // kick-off animation
        transition: all 0.2 * $base-time cubic-bezier(0.44, 0.23, 0.19, 0.98);
      }

      // growing animation
      &.growing {
        transition: all 0.8 * $base-time cubic-bezier(0.44, 0.23, 0.19, 0.98);
      }

      transition-delay: 0.5 * $base-time;

      &.shrinking {
        transition-delay: 0.75 * $base-time;
        transition-duration: 0.5 * $base-time;
        transition-timing-function: ease-in-out;
      }

      &.faded {
        fill: $faded-purple;
      }
    }

    .d3-point-stroke {
      stroke: $selected;
      stroke-width: 0;

      &.growing {
        transition: all 3 * $base-time ease-in-out;
        transition-delay: 2 * $base-time;
        stroke-width: 2px;
        stroke-opacity: 0;
      }
    }
  }
}
