// Sizes
$normal: 24px;

$small: 16px;
$extra-small: 8px;
$ultra-small: 4px;

$large: 48px;
$extra-large: 64px;
$ultra-large: 88px;
$gigantic: 140px;

// Weights
$weight-light: 200;
$weight-medium: 400;
$weight-heavy: 700;
