@import "./ambience";

body {
  margin: 0;
  padding: 0;

  background-color: $feminist-purple;

  font-size: $normal;
  font-family: 'Circular';

  .noink {
    text-decoration: none;
    color: inherit;
  }

}
