@mixin v-align {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

@mixin h-align {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

@mixin center-align {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

@mixin clearfix {
  &::before, &::after {
    content: ' ';
    display: table;
  }

  &::after {
    clear: both;
  }
}

@mixin wrap {
  @include clearfix;
  margin: 0 auto;
  max-width: calc(100% - 40px);
  position: relative;
  width: calc(82% + 132px);
}

@mixin medium-wrap {
  @include clearfix;
  margin: 0 auto;
  max-width: calc(100% - 40px);
  position: relative;
  width: calc(65% + 280px);
}

@mixin big-wrap {
  @include clearfix;
  margin: 0 auto;
  max-width: calc(100% - 40px);
  position: relative;
  width: calc(65% + 300px);
}

@mixin wrap-mobile {
  margin: 0 auto;
  max-width: calc(100% - 48px);
  position: relative;
  width: calc(100% - 48px);
  margin-right: 24px;
  margin-left: 24px;
}

// Dotted border mixin by @poopsplat: http://codepen.io/poopsplat/pen/xEIty?editors=1100
@mixin dots($color, $spacing, $position: top) {
  background-position: $position;
  background-repeat: repeat-x;
  background-size: $spacing 1px;
  background-image: linear-gradient(to right, $color 10%, rgba(#fff, 0) 0%);
}

@mixin button() {
  padding-top: $space-micro;
  padding-bottom: $space-tiny;
  padding-left: $space-xs;
  padding-right: $space-xs;
  margin-left: $space-xxs;

  border-style: solid;
  border-width: 1px;
  border-color: $light-purple;
  border-radius: $space-xxxs;

  font-size: $font-size-deci;
  line-height: $line-height-button;
  letter-spacing: 0.44px;
  color: $light-purple;
  background-color: transparent;
  cursor: pointer;

  transition: all 0.3s ease;

  &:first-child { margin-left: 0; }

  &:hover {
    color: #fff;
    background-color: rgba(#fff, 0.11);
  }

  &.selected {
    border-color: transparent;
    background-color: $selected;
    color: #fff;
  }
}
