@mixin v-align {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

@mixin h-align {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

@mixin center-align {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

@mixin clearfix {
  &::before,
  &::after {
    content: ' ';
    display: table;
  }

  &::after {
    clear: both;
  }
}

@mixin wrap {
  @include clearfix;
  margin: 0 auto;
  max-width: calc(100% - 40px);
  position: relative;
  width: calc(65% + 50px);
}

@mixin wrap-mobile {
  margin: 0 auto;
  max-width: calc(100% - 40px);
  position: relative;
  width: calc(65% + 200px);
}

