body {
  font-family: 'Circular';
  font-size: 16px;
}

h1, h2, h3, h4 { font-weight: bold; }

h1 {
  font-size: $font-size-exa;
  line-height: $line-height-exa;
}

h2 {
  font-size: $font-size-peta;
  line-height: $line-height-peta;
}

h3 {
  font-size: $font-size-mega;
  line-height: $line-height-kilo;
}

p {
  font-weight: lighter;
  font-size: $font-size-deca;
  line-height: $line-height-base;
}
