html {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-image: linear-gradient(to right, $background-left, $background-right) ;
}

button, select { font-family: 'Circular'; }

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

h1, h2, h3, h4 { color: #fff; }

p {
  color: $light-purple;

  > a {
    border-bottom: 2px solid $selected;
    padding-bottom: 2px;
    &:hover { color: #fff; }
  }
}
