html {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-image: linear-gradient(to right, $background-left, $background-right) ;
}

a {
  text-decoration: none;
  color: inherit;
}