@import '../../config';

.timeline {
  .tick { font-size: $font-size-centi; }
  .tick > line { display: none; }
  .tick > text {
    fill: $color-ghost;
    text-anchor: left;
  }

  .domain { stroke: $color-ghost; }
}