@import '../../config';

.timeline {
  width:100%;

  .tick {
    font-size: $font-size-deci;
    line-height: $line-height-roomy;
  }
  .tick > line { display: none; }
  .tick > text {
    fill: $color-ghost;
    font-family: 'Circular';
    text-anchor: left;
  }

  .domain { stroke: $color-ghost; }
}
