@import '../../config';

#about-page {
  padding-top: $space-xl;
  padding-bottom: $space-m;

  @include large-up {
    @include grid(6);
    @include offsetLeft(3);

    > h2 {
      margin-bottom: $space-s;
    }

    > h3 {
      margin-top: 0;
      margin-bottom: $space-s;
    }

    > .content {
      margin-bottom: $space-m;

      > p { margin-bottom: $space-m; }
    }
  }
  @include wrap-mobile;

  > h2 { margin-bottom: $space-s; }

  > h3 {
    margin-top: $space-xl;
    margin-bottom: $space-s;
  }

  > .content {
    margin-bottom: $space-m;

    > p {
      margin-bottom: $space-m;

      color: $text-purple;
    }
  }
}
