@import '../../config';

#about-page {
  @include big-wrap;
  margin-top: 84px;

  > h2 {
    @include medium-wrap;
    margin-bottom: $space-s;
  }

  > .content {
    @include wrap;
    margin-bottom: $space-m;

    > p {
      margin-bottom: $space-m;

      color: $light-purple;
    }
  }
}
